body, html {
    height: 100%;
}
#app {
    height: 100%;
    overflow-y: scroll;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    background-color: #fff;
}
.header .logo {
    margin-left: 18px;
}
.header .search-input {
    width: 132px;
    height: 24px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    color: #999;
    font-size: 10px;
    border-radius: 12px;
}
.header .search-input svg {
    margin-left: 10px;
}
.header .search-input span {
    width: 92px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header .avatar svg{
    border-radius: 50%;
}
.header .download-app {
    width: 78px;
    height: 23px;
    line-height: 23px;
    background-color: #fb7299;
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin-right: 12px;
    border-radius: 4px;
}

.nav-box {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}
.nav-box .nav-list {
    white-space: nowrap;
    overflow-x: scroll;
    width: 85%;
    padding-left: 24px;
}
.nav-box .nav-list::-webkit-scrollbar {
    display: none;
}
.nav-box .nav-list .nav {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-right: 40px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}
.nav-box .nav-list .nav.active {
    border-color: #fb7299;
    color: #fb7299;
}
.nav-box .down {
    position: absolute;
    top: 0;
    right: 8px;
}

.nav-box-hide {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 2;
    transition: top .3s;
    background-color: #fff;
}
.nav-box-hide.hide {
    top: -117px;
}
.nav-box-hide .nav-list .nav {
    display: inline-block;
    border-bottom: 2px solid transparent;
    width: 32px;
    margin-left: 14px;
    margin-bottom: 14px;    
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    color: #757575;
    text-align: center;
}
.nav-box-hide .nav-list .nav.big {
    width: 42px;
}
.nav-box-hide .nav-list .nav.active {
    border-color: #fb7299;
    color: #fb7299;
}
.nav-box-hide .up {
    text-align: center;
}
.banner-box {
    position: relative;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 110px;
    overflow-x: hidden;
    border-radius: 4px;
}
.banner-box .banner-list {
    position: absolute;
    width: calc(350px * 4);
    transition: left .8s;
}
.banner-box .banner-list .banner {
    display: inline-block;
    width: 350px;
    height: 110px;
}
.banner-box .banner-list .banner .poster {
    width: 100%;
    height: 100%;
}

.banner-box .banner-index {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    height: 10px;
}
.banner-box .banner-index .index {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 3px;
    margin-right: 3px;
}
.banner-box .index.active {
    background-color: #fb7299;
}

.video-box {
    padding-top: 95px;
    padding-left: 6px;
    padding-right: 6px;
}
.video-box .video-list::after {
    content: "";
    display: block;
    clear: both;
}
.video-box .video-list .video {
    width: 50%;
    float: left;
}
.video-box .video-list .video .poster {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
    height: 106px;
}
.video-box .video-list .video .poster img {
    width: 100%;
    height: 100%;
}
.video-box .video-list .info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    height: 20px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    background-image: linear-gradient(rgba(33, 33, 33, 0), rgba(33, 33, 33, .5));
}
.video-box .video-list .info div {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}
.video-box .video-list svg {
    width: 14px;
    height: 14px;
    fill: #fff;
    margin-right: 3px;
}
.video-box .video-list .desc {
    padding-top: 5px;
    margin: 6px 6px 10px 6px;
    height: 38px;
    line-height: 20px;
    font-size: 13px;
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.footer {
    margin-top: 40px;
    font-size: 13px;
    color: #999;
    text-align: center;
}
.footer p {
    margin-bottom: 20px;
}
