<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in goodsList">
                <span class="title">{{ item.title }}:</span>
                <div class="typeList">
                    <span v-for="(type, i) in item.typeList"
                          :class="{'active': i == item.active}"
                          @click="seleteCondition(item.id, i)">{{ type }}</span>
                </div>
            </li>
        </ul>
        <div>已选条件：
            <span class="seleted" v-if="!flag">暂时没有选择过滤条件</span>

            <template v-if="flag">
                <div v-for="condition in goodsList" class="screen">
                    <span v-if="condition.active !== 0" class="active right">
                        {{ condition.typeList[condition.active] }} 
                        <span class="close" @click="close(condition.id)">X</span>
                    </span>
                </div>
            </template>
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                goodsList: [{
                        title: '上装',
                        typeList: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣'],
                        id: 1,
                        active: 0
                    },
                    {
                        title: '裤装',
                        typeList: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤', '打底裤', '哈伦裤'],
                        id: 2,
                        active: 0
                    },
                    {
                        title: '裙装',
                        typeList: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙'],
                        id: 3,
                        active: 0
                    }
                ],
                flag: false
            },
            methods: {
                seleteCondition(id, index) {
                    this.goodsList.forEach(ele => {
                        if (ele.id === id) {
                            ele.active = index;
                        }
                    });
                    this.isShow();
                },
                isShow() {
                    this.flag = this.goodsList.some(goods => goods.active !== 0);
                    console.log(this.flag);
                },
                close(id) {
                    this.goodsList.forEach(good => {
                        if (good.id === id) {
                            good.active = 0;
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>