<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="checkbox" value="cheng" id="cheng" v-model="checkList">
        <label for="cheng">cheng</label>

        <input type="checkbox" value="deng" id="deng" v-model="checkList">
        <label for="deng">deng</label>

        <input type="radio" value="sitong" id="sitong" v-model="picker">
        <label for="sitong">sitong</label>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                checked: true,
                checkList: [],
                picker: ''
            }
        });
    </script>
</body>

</html>